AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
S3_BUCKET_NAME=finance-pipeline-raw
REDSHIFT_HOST=
REDSHIFT_PORT=5439
REDSHIFT_DB=dev
REDSHIFT_USER=admin
REDSHIFT_PASSWORD=
INSEE_API_KEY=
AIRFLOW_UID=998
AIRFLOW_GID=0
